.shows {
  // background: #f3dfc1;
  ion-list {
    background: transparent;
    color: #FFF;
  }
}

.shows__container {
  border-radius: 3px;
  border: 2px solid rgb(255, 255, 255);
  // padding: 5px 8px;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.1);
}

.shows__info {
  padding: 5px 10px;
}

.shows__arrow {
  text-align: center;
}

.shows__arrow::after {
  // content: '∨';
  // content: '▽';
  // content: '▼';
  content: '⛛';
}