ion-input[type=text][_ngcontent-c1] {
  border: 1px solid #b3aeae6b;
  padding-left: 10px !important;
  border-radius: 3px;
  --background: transparent;
  color: #FFF;
}

ion-content {
  --background: rgb(22,15,41);
}