<ion-grid class="login__page--grid" no-margin no-padding>
  <!-- <ion-row class="login__page--row" style="height: 5%;"> -->
  <ion-row class="login__page--row">
    <ion-col class="ion-justify-content-center" size="auto" size-lg>Header</ion-col>
  </ion-row>

  <ion-row style="height: 30em;">
    <!-- <ion-col no-margin size-sm="1" size-md="4" size-lg="4.5"></ion-col> -->
    <ion-col no-margin size-sm="3" size-md="4"></ion-col>
    <ion-col size-sm="6" size-md="4" align-self-center>
    <!--<ion-col size="auto" size-sm="10" size-md="4" size-lg="3" align-self-center>-->
      <!-- <ion-content padding> -->
        <ion-card>
          <ion-segment class="login-page__segment" (ionChange)="segmentChanged($event)">
            <ion-segment-button class="login-page__segment-button" value="login">
              <ion-label>Login</ion-label>
            </ion-segment-button>
      
            <ion-segment-button value="register">
                <ion-label>Register</ion-label>
              </ion-segment-button>
          </ion-segment>
      
          <div class="form" *ngIf="showLoginForm">
            <form [formGroup]="loginForm">
              <ion-item>
                <!-- <ion-img src="assets/mail-envelope.png"></ion-img> -->
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" class="email" alt="email address" formControlName="email" required="true"></ion-input>
              </ion-item>
                
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" class="password" alt="password" formControlName="password" required="true"></ion-input>
              </ion-item>
            
              <ion-button expand="block" strong="false" type="submit" routerDirection="forward" (click)="login()">Login</ion-button>
            </form>
          </div>
      
          <div class="form formGroup register" *ngIf="showRegisterForm">
            <form [formGroup]="registerForm">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" class="" alt="First Name" formControlName="firstName" aria-required="true" required="true"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" class="" alt="Last Name" formControlName="lastName" aria-required="true" required="true"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" class="" alt="Email" formControlName="email" aria-required="true" required="true"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="text" class="" alt="Password" formControlName="password" aria-required="true" required="true"></ion-input>
              </ion-item>
            </form>
      
            <ion-button  expand="block" fill="outline" type="submit" (click)="register()">Sign Up</ion-button>
            <ion-button expand="block" fill="clear" type="reset">Cancel</ion-button>
          </div>
        </ion-card>
      <!-- </ion-content> -->
    </ion-col>
    <ion-col size-sm="3" size-md="4" size-lg="4.5" no-margin></ion-col>
    <!-- <ion-col size-sm="1" size-md="4" size-lg="4.5" no-margin></ion-col> -->
  </ion-row>

  <ion-row style="background: #000;">
  <!-- <ion-row style="height: 36.5%;background: #000;"> -->
    <ion-col size="auto" size-lg class="ion-justify-content-center">Footer</ion-col>
  </ion-row>
</ion-grid>