// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content div.inner-scroll.scroll-y {
  padding: 0 !important;
}

.toolbar {
  --background: rgb(243,223,193);
}

.hamburger__menu {
  --color: #FFF;
}

/** ion-segment **/
.sc-ion-segment-md-h {
  --color-checked: var(--brown) !important;
  --color-checked-disabled: var(--light-brown) !important;
}

// ion-segment {
//   height: 20px;
//   min-height: 20px;
//   max-height: 20px;
// }

// ion-segment-button {
//   height: 20px;
//   min-height: 20px;
//   max-height: 20px;
// }